.sideBarContainer {
  position: sticky;
  top: var(--headerbar-height);
  left: 0;
  flex: 0 0 var(--sidebar-width);
  width: var(--sidebar-width);
  height: calc(100vh - var(--headerbar-height));
  display: flex;
  flex-direction: column;
  background-color: #fff;
  z-index: 10;
}

.menuList {
  flex: 1;
  overflow-y: auto;
}
